* {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
}

.login-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-page img {
    width: 180px;
    margin-top: 70px;
    margin-bottom: 32px;
}

.login-page form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 36px;
}

.login-page input {
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    font-weight: 400;
    font-size: 19.976px;
    line-height: 25px;
    padding-left: 10px;
    color: #DBDBDB;
}

.login-page input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 19.976px;
    line-height: 25px;
    color: #DBDBDB;

}

.login-page button {
    width: 100%;
    height: 45px;
    background: #52B6FF;
    border-radius: 4.63636px;
    font-style: normal;
    font-weight: 400;
    font-size: 20.976px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.login-page p {
    font-style: normal;
    font-weight: 400;
    font-size: 13.976px;
    line-height: 17px;
    text-align: center;
    text-decoration-line: underline;
    color: #52B6FF;
    margin-top: 25px;
    cursor: pointer;
}

.user-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin-top: 70px;
}

.user-page h1 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 22.976px;
    line-height: 29px;
    color: #126BA5;
    padding-left: 15px;
    padding-top: 22px;
}

.user-page h2 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 17.976px;
    line-height: 22px;
    color: #BABABA;
    padding-left: 15px;
    padding-bottom: 28px;
}

.user-page p {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 17.976px;
    line-height: 22px;
    color: #666666;
    padding: 23px 10px;
}

.HabitBox {
    width: 90vw;
    height: 94px;
    background-color: #FFFFFF;
    margin-left: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 0 0 0 15px;
}

.HabitContent {
    max-height: 94px;
}

.HabitBox h3 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 19.976px;
    line-height: 25px;
    color: #666666;
    margin-bottom: 10px;
    
}

.content {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 12.976px;
    line-height: 16px;
    color: #666666;
}
